[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
django = "*"
pillow = "*"
psycopg = "*"
gunicorn = "*"
dj-database-url = "*"
python_version = "3.10"

[dev-packages]

[requires]
python_version = "3.10"
