<!DOCTYPE html>
{% load static %}
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EcoBaams - Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static "ecommerce/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/elegant-icons.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/nice-select.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/jquery-ui.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/owl.carousel.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/slicknav.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "ecommerce/css/style.css" %}" type="text/css">
</head>
    
<body>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if this cookie string begins with the name we want
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
                }
            }
            return cookieValue;
            }

            const token = getCookie("csrftoken");

    </script>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url "feed" %}"><img width="50%" src="{% static "ecommerce/img/logo3.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url "feed" %}">Home</a></li>
                            <li><a href="{% url "shop" %}">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url "bags" %}">Bags</a></li>
                                    <li><a href="{% url "cart" %}">Shoping Cart</a></li>
                                    <li><a href="{% url "shoes" %}">Shoes</a></li>
                                </ul>
                                <li><a href="{% url "checkout" %}">Check Out</a></li>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="{% url "cart" %}"><i class="fa fa-shopping-bag"></i> <span>{{num_items}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>


    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                         <ul>
                            <li><b><a href="{% url "bags" %}">Bags</a></b></li>
                            <li>Backpack/Rucksack</li>
                            <li>Messenger Bag</li>
                            <li>Clutch</li>
                            <li>Crossbody Bag</li>
                            <li>Fanny Pack/Waist Bag</li>
                            
                            <li><b><a href="{% url "shoes" %}">FootWares</a></b></li>
                             <li>Athletic Shoes</li>
                            <li>Boots</li>
                            <li>Loafers</li>
                            <li>Sneakers</li>
                            <li>Sandals</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+234 814 367 2539</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "ecommerce/img/ban.png" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url "feed" %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <ul>
                            <li><b><a href="#">~Bags</a></b></li>
                            <li>backpack</li>
                            <li>backpack</li>
                            <li>backpack</li>
                            <li>backpack</li>
                            <li>backpack</li>
                            
                            <li><b><a href="#">~FootWares</a></b></li>
                             <li>backpack</li>
                            <li>backpack</li>
                            <li>backpack</li>
                            <li>backpack</li>
                            <li>backpack</li>
                        </ul>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>Colors</h4>
                            <div class="sidebar__item__color sidebar__item__color--white">
                                <label for="white">
                                    White
                                    <input type="radio" id="white">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--gray">
                                <label for="gray">
                                    Gray
                                    <input type="radio" id="gray">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--red">
                                <label for="red">
                                    Red
                                    <input type="radio" id="red">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--black">
                                <label for="black">
                                    Black
                                    <input type="radio" id="black">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--blue">
                                <label for="blue">
                                    Blue
                                    <input type="radio" id="blue">
                                </label>
                            </div>
                            <div class="sidebar__item__color sidebar__item__color--green">
                                <label for="green">
                                    Green
                                    <input type="radio" id="green">
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <h4>Popular Size</h4>
                            <div class="sidebar__item__size">
                                <label for="large">
                                    Large
                                    <input type="radio" id="large">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="medium">
                                    Medium
                                    <input type="radio" id="medium">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="small">
                                    Small
                                    <input type="radio" id="small">
                                </label>
                            </div>
                            <div class="sidebar__item__size">
                                <label for="tiny">
                                    Tiny
                                    <input type="radio" id="tiny">
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        {% for bag in bags|slice:"0:3" %}
                                        <a href="{% url "product_details" bag.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{bag.get_image}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{bag.name}}</h6>
                                                <span>{{bag.price}}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        {% for bag in bags|slice:"3:6" %}
                                        <a href="{% url "product_details" bag.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{bag.get_image}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{bag.name}}</h6>
                                                <span>{{bag.price}}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for pd in product %}
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{pd.get_image}}">
                                            <div class="product__discount__percent">Hot</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{pd.category}}</span>
                                            <h5><a href="{% url "product_details" pd.id %}">{{pd.name}}</a></h5>
                                            <div class="product__item__price">#{{pd.price}} </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for bags in bag %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{bags.get_image}}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url "product_details" bags.id %}">{{bags.name}}</a></h6>
                                    <h5>#{{bags.price}}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: No 8 Fadeyi street, Bodija, Ibadan, Oyo state.</li>
                            <li>Phone: +234 814 367 2539</li>
                            <li>Email:  ecobaamsafrica.green@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved EcoBaams Fashion<a Style="opacity: 0;" href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static "ecommerce/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "ecommerce/js/bootstrap.min.js" %}"></script>
    <script src="{% static "ecommerce/js/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "ecommerce/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "ecommerce/js/jquery.slicknav.js" %}"></script>
    <script src="{% static "ecommerce/js/mixitup.min.js" %}"></script>
    <script src="{% static "ecommerce/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "ecommerce/js/main.js" %}"></script>
    <script src="{% static "ecommerce/js/cart.js" %}"></script>

<script>
  
</script>

</body>
</html>
